{% extends "base.html" %}

{% load staticfiles %}

{% block page_title %}
Xpens - Change Password
{% endblock %}

{% block content %}
{% include "app/nav.html" %}
{% with form_title="Change Password"  back_url_name="overview" %}
{% include "app/form.html" %}
{% endwith %}
<div class="row">
  <div class="col-sm-offset-2 col-md-6">
    <h5>Note: On successfully changing the password, you will be logged out and will have to re-login.</h5>
  </div>
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('input[type=text]').addClass('form-control');
    $('input[type=password]').addClass('form-control');
    $('label').addClass('col-md-2 control-label');
    $('textarea').addClass('form-control');
  });
</script>
{% endblock %}
