{% extends "base.html" %}

{% block page_title %}
Xpens - Categories
{% endblock %}

{% block custom_css %}
<style type="text/css">
  td, th {
  padding: 10px;
  }
  table {
  font-size: 12px;
  }
</style>
{% endblock %}

{% block content %}
<ul class="nav nav-pills">
  <li><a href="#">Overview</a></li>
  <li><a href="{% url 'list_expenses' %}">Expenses</a></li>
  <li class="active"><a href="{% url 'list_categories' %}">Categories</a></li>
</ul>
<br />
<div class="row">
  <div class="col-md-8">
    <h4>All Categories</h4>
    <table class="table">
      <thead>
	<tr>
	  <th>S.No.</th>
	  <th>Name</th>
	</tr>
      </thead>
      <tbody>
	{% for category in categories %}
	<tr>
	  <td>{{ forloop.counter }}</td>
	  <td>{{ category.name }}</td>
	</tr>
	{% empty %}
	<tr>
	  <td colspan="4">
	    <span style="text-align:center;">No categories saved</span>
	  </td>
	</tr>
	
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <a href="{% url 'new_category' %}" class="btn btn-primary">New Category</a>
  </div>
</div>
{% endblock %}
