{% extends "base.html" %}

{% block page_title %}
Xpens - Categories
{% endblock %}

{% block custom_css %}
<style type="text/css">
  td, th {
  padding: 10px;
  }
  table {
  font-size: 12px;
  }
</style>
{% endblock %}

{% block content %}
{% include "app/nav.html" %}
<div class="row">
  <div class="col-md-8">
    <h4>All Categories</h4>
    {% include "app/messages.html" %}
    <table class="table">
      <thead>
	<tr>
	  <th>S.No.</th>
	  <th>Name</th>
	  <th>Actions</th>
	</tr>
      </thead>
      <tbody>
	{% for category in categories %}
	<tr>
	  <td>{{ forloop.counter }}</td>
	  <td>{{ category.name }}</td>
	  <td>
            <span class="glyphicon glyphicon-edit"></span> <a href="{% url 'update_category' category.id %}">Edit</a>&nbsp;
            <span class="glyphicon glyphicon-remove-circle"></span> <a href="{% url 'delete_category' category.id %}">Delete</a>
          </td>
	</tr>
	{% empty %}
	<tr>
	  <td colspan="3">
	    <span style="text-align:center;">No categories saved</span>
	  </td>
	</tr>
	
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <a href="{% url 'new_category' %}" class="btn btn-primary">New Category</a>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#categories').addClass('active');
  });
</script>
{% endblock %}
