{% extends "base.html" %}

{% block page_title %}
Xpens - Expenses
{% endblock %}

{% block custom_css %}
<style type="text/css">
  td, th {
  padding: 10px;
  }
  table {
  font-size: 12px;
  }
</style>
{% endblock %}

{% block content %}
{% include "app/nav.html" %}
<div class="row">
  <div class="col-md-8">
    <h4>All Expenses</h4>
    {% include "app/messages.html" %}
    <table class="table">
      <thead>
	<tr>
	  <th>Date</th>
	  <th>Description</th>
	  <th>Category</th>
	  <th>Amount</th>
	  <th>Actions</th>
	</tr>
      </thead>
      <tbody>
	{% for expense in expenses %}
	<tr>
	  <td>{{ expense.date }}</td>
	  <td>{{ expense.description }}</td>
	  <td>{{ expense.category }}</td>
	  <td>{{ expense.amount }}</td>
	  <td><a href="{% url 'update_expense' expense.id %}">Edit</a></td>
	</tr>
	{% empty %}
	<tr>
	  <td colspan="5">
	    <span style="text-align:center;">No expenses saved</span>
	  </td>
	</tr>
	
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-2">
    <a href="{% url 'new_expense' %}" class="btn btn-primary">New Expense</a>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#expenses').addClass('active');
  });
</script>
{% endblock %}
