{% extends "base.html" %}

{% block page_title %}
Xpens - Expenses
{% endblock %}

{% block custom_css %}
<style type="text/css">
  td, th {
  padding: 10px;
  }
  table {
  font-size: 12px;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  {% include "app/nav.html" %}
  <div class="col-md-8">
    <div class="row">
      {% include "app/messages.html" %}
      <div class="col-md-4">
        <select class="form-control">
          <option value="">Select a category</option>
          <option value="{% url 'list_expenses' %}">All categories</option>
          {% for category in category_list %}
          <option value="{% url 'list_expenses_category' category_id=category.id%}">{{ category.name }}</option>
          {% endfor %}
        </select>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            All Expenses {% if category_wise %} in {{ category_name }}{% endif %}
            <span style="float:right;"><a href="{% url 'new_expense' %}" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> New Expense</a></span>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th class="col-md-6">Description</th>
                  <th>Category</th>
                  <th>Amount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for expense in expenses %}
                <tr>
                  <td>{{ expense.date }}</td>
                  <td>{{ expense.description }}</td>
                  <td>{{ expense.category }}</td>
                  <td>{{ expense.amount }}</td>
                  <td>
                    <i class="fa fa-edit"></i> <a href="{% url 'update_expense' expense.id %}">Edit</a>&nbsp;
                    <i class="fa fa-trash"></i> <a href="{% url 'delete_expense' expense.id %}">Delete</a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5">
                    <span style="text-align:center;">No expenses saved</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if is_paginated %}
            <ul class="pager">
              <li class="previous{% if not page_obj.has_previous %} disabled{% endif %}">
                <a href="{% if page_obj.has_previous %}{{ request.get_full_path }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" class="previous">Previous</a>
              </li>
              <li class="next{% if not page_obj.has_next %} disabled{% endif %}">
                <a href="{% if page_obj.has_next %}{{ request.get_full_path }}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" class="next">Next</a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#expenses').addClass('active');
    $(".alert").alert();
    $("select").change(function(){
      var url = $(this).val();
      if (url) {
        window.location = url;
      }
      return false;
    });
    $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
      $(".alert-success").alert('close');
    });
  });
</script>
{% endblock %}
