{% extends "base.html" %}

{% block page_title %}
Xpens - Categories
{% endblock %}

{% block custom_css %}
<style type="text/css">
  td, th {
  padding: 10px;
  }
  table {
  font-size: 12px;
  }
</style>
{% endblock %}

{% block content %}
{% include "app/nav.html" %}
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">All Categories</div>
      <div class="panel-body">
        {% include "app/messages.html" %}
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
            <tr>
              <td>{{ category.name }}</td>
              <td>{{ category.description }}</td>
              <td>
                <span class="glyphicon glyphicon-edit"></span> <a href="{% url 'update_category' category.id %}">Edit</a>&nbsp;
                <span class="glyphicon glyphicon-remove-circle"></span> <a href="{% url 'delete_category' category.id %}">Delete</a>
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="3">
                <span style="text-align:center;">No categories saved</span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% if is_paginated %}
    <ul class="pager">
      <li class="previous{% if not page_obj.has_previous %} disabled{% endif %}">
        <a href="{% if page_obj.has_previous %}{% url 'list_categories' %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" class="previous">Previous</a>
      </li>
      <li class="next{% if not page_obj.has_next %} disabled{% endif %}">
        <a href="{% if page_obj.has_next %}{% url 'list_categories' %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" class="next">Next</a>
      </li>
    </ul>
    {% endif %}
  </div>
  <div class="col-md-2">
    <a href="{% url 'new_category' %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span> New Category</a>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#categories').addClass('active');
  });
</script>
{% endblock %}
