{% extends "base.html" %}

{% block page_title %}
Xpens - Expenses
{% endblock %}

{% block custom_css %}
<style type="text/css">
  td, th {
  padding: 10px;
  }
  table {
  font-size: 12px;
  }
</style>
{% endblock %}

{% block content %}
{% include "app/nav.html" %}
<div class="row">
  <div class="col-md-8">
    <div class="col-md-5" style="padding: 15px;">
      <select class="form-control">
        <option value="">Select a category</option>
        <option value="{% url 'list_expenses' %}">All categories</option>
        {% for category in category_list %}
        <option value="{% url 'list_expenses_category' category_id=category.id%}">{{ category.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      All Expenses {% if category_wise %} in {{ category_name }}{% endif %}
    </div>
    <div class="panel-body">
      {% include "app/messages.html" %}
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for expense in expenses %}
          <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.description }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.amount }}</td>
            <td>
              <span class="glyphicon glyphicon-edit"></span> <a href="{% url 'update_expense' expense.id %}">Edit</a>&nbsp;
              <span class="glyphicon glyphicon-remove-circle"></span> <a href="{% url 'delete_expense' expense.id %}">Delete</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">
              <span style="text-align:center;">No expenses saved</span>
            </td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
      {% if is_paginated %}
      <ul class="pager">
        <li class="previous{% if not page_obj.has_previous %} disabled{% endif %}">
          <a href="{% if page_obj.has_previous %}{% url 'list_expenses' %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" class="previous">Previous</a>
        </li>
        <li class="next{% if not page_obj.has_next %} disabled{% endif %}">
          <a href="{% if page_obj.has_next %}{% url 'list_expenses' %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" class="next">Next</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
  <div class="col-md-2">
    <a href="{% url 'new_expense' %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span> New Expense</a>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#expenses').addClass('active');
    $(".alert").alert();
    $("select").change(function(){
      var url = $(this).val();
      if (url) {
        window.location = url;
      }
      return false;
    });
  });
</script>
{% endblock %}
