{% extends "base.html" %}

{% block page_title %}
Xpens - Overview
{% endblock %}

{% block custom_css %}
<style type="text/css">
  td, th {
  padding: 10px;
  }
  table {
  font-size: 12px;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  {% include "app/nav.html" %}
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Recent Expenses
            <span style="float:right">
              <a href="{% url 'new_expense' %}" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> New Expense</a>
            </span>
          </div>
          <div class="panel-body">
            {% include "app/messages.html" %}
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Description</th>
                  <th>Category</th>
                  <th>Amount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for expense in expenses %}
                <tr>
                  <td>{{ expense.date }}</td>
                  <td>{{ expense.description }}</td>
                  <td>{{ expense.category }}</td>
                  <td>{{ expense.amount }}</td>
                  <td>
                    <i class="fa fa-edit"></i> <a href="{% url 'update_expense' expense.id %}">Edit</a>&nbsp;
                    <i class="fa fa-trash"></i> <a href="{% url 'delete_expense' expense.id %}">Delete</a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5">
                    <span style="text-align:center;">No expenses saved</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Where your money is going this month
          </div>
          <div class="panel-body">
            {% load nvd3_tags %}
            {% include_chart_jscss %}
            {% load_chart data.charttype data.chartdata data.chartcontainer data.extra %}
            {% include_container data.chartcontainer %}
            {% if total != 0 %}
            <h5 style="text-align:right;">Total: {{ total }}</h5>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function(){
  $('#overview').addClass('active');
  $(".alert").alert();
  });
</script>
{% endblock %}
