{% extends "base.html" %}

{% block page_title %}
Xpens - Search Expenses
{% endblock %}

{% block custom_css %}
<style type="text/css">
  td, th {
  padding: 10px;
  }
  table {
  font-size: 12px;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  {% include "app/nav.html" %}
  <div class="col-md-8">
    <div class="row">
      {% include "app/messages.html" %}
      <div style="float:right">
        <form class="navbar-form" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="q" id="search-term" value="{{ search_value }}">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Search results
            <span style="float:right;"><a href="{% url 'new_expense' %}" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> New Expense</a></span>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th class="col-md-6">Description</th>
                  <th>Category</th>
                  <th>Amount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for expense in expenses %}
                <tr>
                  <td>{{ expense.date }}</td>
                  <td>{{ expense.description }}</td>
                  <td>{{ expense.category }}</td>
                  <td>{{ expense.amount }}</td>
                  <td>
                    <i class="fa fa-edit"></i> <a href="{% url 'update_expense' expense.id %}">Edit</a>&nbsp;
                    <i class="fa fa-trash"></i> <a href="{% url 'delete_expense' expense.id %}">Delete</a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5">
                    <span style="text-align:center;">No matching expenses</span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% if is_paginated %}
            <ul class="pager">
              <li class="previous{% if not page_obj.has_previous %} disabled{% endif %}">
                <a href="{% if page_obj.has_previous %}{{ request.get_full_path }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" class="previous">Previous</a>
              </li>
              <li class="next{% if not page_obj.has_next %} disabled{% endif %}">
                <a href="{% if page_obj.has_next %}{{ request.get_full_path }}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" class="next">Next</a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>
        <a href="{% url 'list_expenses' %}" style="float:right;">&lt; Back to All Expenses</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#expenses').addClass('active');
    $(".alert").alert();
    $("select").change(function(){
      var url = $(this).val();
      if (url) {
        window.location = url;
      }
      return false;
    });
    $(".alert-success").fadeTo(2000, 500).slideUp(500, function(){
      $(".alert-success").alert('close');
    });
  });
</script>
{% endblock %}
