{% extends "base.html" %}

{% block page_title %}
Xpens - Update Category
{% endblock %}

{% block content %}
{% include "app/nav.html" %}
{% with form_title="Update Category" %}
{% include "app/form.html" %}
{% endwith %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
  $(document).ready(function(){
    $('input[type=text]').addClass('form-control');
    $('input[type=password]').addClass('form-control');
    $('label').addClass('col-md-2 control-label');
    $('textarea').addClass('form-control');
    $('#categories').addClass('active');
  });
</script>
{% endblock %}
