{% extends "base.html" %}

{% load staticfiles %}

{% block page_title %}
Xpens - Update Expense
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}


{% block content %}
{% include "app/nav.html" %}
{% with form_title="Update Expense"  back_url_name="list_expenses" %}
{% include "app/form.html" %}
{% endwith %}
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('input[type=text]').addClass('form-control');
    $('input[type=password]').addClass('form-control');
    $('label').addClass('col-md-2 control-label');
    $('textarea').addClass('form-control');
    $('select').addClass('form-control');
    $('#expenses').addClass('active');
    $('#id_date').attr('data-date-format','DD/MM/YYYY');
    $('#id_date').datetimepicker({
      pickTime: false
    });
  });
</script>
{% endblock %}
